node_modules/
dist/
build/
.env
*.db
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.tsbuildinfo
web/android/app/build/
web/android/.gradle/
web/android/build/
*.bak
.claude/
